# Pandas - DataFrames Part 3

In [2]:
import numpy as np
import pandas as pd
from numpy.random import randn
np.random.seed(101)

In [3]:
#index levels
outside = ['G1','G1','G1','G2','G2','G2']
inside  = [1,2,3,1,2,3]
hier_index=list(zip(outside,inside))
hier_index=pd.MultiIndex.from_tuples(hier_index)

In [4]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [5]:
df=pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [6]:
df.loc['G1']

          A         B
1  2.706850  0.628133
2  0.907969  0.503826
3  0.651118 -0.319318

In [7]:
df.index.names=['Groups','Num']

In [8]:
df

                   A         B
Groups Num
G1     1    2.706850  0.628133
       2    0.907969  0.503826
       3    0.651118 -0.319318
G2     1   -0.848077  0.605965
       2   -2.018168  0.740122
       3    0.528813 -0.589001

In [9]:
df.loc['G2'].loc[2]['B']

0.7401220570561068

In [10]:
df.xs('G1')

            A         B
Num
1    2.706850  0.628133
2    0.907969  0.503826
3    0.651118 -0.319318

In [11]:
df.xs(1,level='Num')

               A         B
Groups
G1      2.706850  0.628133
G2     -0.848077  0.605965