## libraries to install

* pip install sqlalchemy
* pip install lxml
* pip install html5lib
* pip install BeautifulSoup4
* pip install openpyxl

# Data input output

In [2]:
import pandas as pd

In [6]:
df=pd.read_csv('example.csv')

In [8]:
df.to_csv('My_output',index=False)

In [9]:
pd.read_excel('Excel_Sample.xlsx',sheet_name="Sheet1")

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

In [10]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [11]:
df.to_excel("new_excel.xlsx", sheet_name="newSheet")

In [12]:
data=pd.read_html("http://www.fdic.gov/bank/individual/failed/banklist.html")

ValueError: No tables found